.savings--product__highlights--percentage{
    background-color: #e4147e;
    color: white;
    padding: 5px;
}

.savings--home__savings--price{
    background-color: #51d687;
    padding: 5px;
    color: white;
    font-weight: 500;
    border-radius: 20px;
    margin-left: 5px;
}

.sellingPrice--home__selling--price--hasListPrice{
    font-size: 1.2rem;
    font-weight: 700;
    color: #2e2e2e;
}

.listPrice--home__list--prices{
    text-align: left;
    margin-bottom: 5px;
}