.flexRowContent--home__section--global{
    width: 100%;
}

.flexRow--desktop__home--promo-text{
    background-color: #efefef;
    width: 100%;
}

.flexRow--home__global--text{
    margin: 40px 0px;
    padding: 10px;
}

.flexRow--home__categories--images{
    background-color: #f4f4f4;
    padding: 20px;
}

.flexRow--submenu__bras--container{
    max-width: 1336px;
    font-size: 1rem;
    font-weight: 400;
}

.flexRowContent--submenu__bras--container{
    display: flex;
    justify-content: space-between;
}

.flexRowContent--home__prices--layout{
    font-size: 16px;
    font-weight: 700;
    color: #2e2e2e;
}

.flexRowContent--home__categories--images, .flexRowContent--home__categories--image{
    text-align: center;
}

