
.element :global(.vtex-button){
    max-width: 247px;
    max-height: 38px;
}


.clearLink :global(.vtex-button):hover :global(.vtex-button__label)::after {
    background: url("assets/img/home/carrito-blanco.svg") no-repeat;
    content: "";
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin: 0 0 0 .5rem;
}
.clearLink :global(.vtex-button) :global(.vtex-button__label)::after {
    content: "";
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    margin: 0 0 0 .5rem;
    background: url("assets/img/home/carrito-rosa.svg") no-repeat;
}

.brandName--products--name{
    color: #8a8a8a;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
}

.nameContainer--products--name{
    text-align: left;
    display: flex;
    justify-content: flex-start;
}
