.paginationDotsContainer--home__slider--list{
    transform: translateY(15px);
}

.imageElementLink--home__slider--list{
    width: 100%;
}

.sliderLayoutContainer--home__slider--list{
    margin-bottom: 50px;
}

.sliderLayoutContainer--products__slider{
    max-width: 1180px;
}

.slide--products__slider{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
