.flexRowContent--home__section--global{
    width: 100%;
}

.flexRow--desktop__home--promo-text{
    background-color: #efefef;
    width: 100%;
}

.flexRow--home__global--text{
    margin: 40px 0px;
    padding: 10px;
}

.flexRow--home__categories--images{
    background-color: #f4f4f4;
    padding: 20px;
}