.productNameContainer--product__name--container{
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 15px;
}
.productDescriptionTitle{
    display: none;
}
.productDescriptionText--product__description{
    font-size: 14px;
    margin: 10px 0px;
    color: #a19f9f;
    padding: 15px 0px;
    border-bottom: 1px solid #d4d4d4;
}
.skuSelectorContainer--product__sku :global(.vtex-store-components-3-x-skuSelectorItem--selected){
    background-color: #e4147e;
    border-style: none;
}
.skuSelectorItem--product__sku{
    background-color: #f0f0f0;
    border: 1px solid #a19f9f;
}
.frameAround--product__sku{
    display: none;
} 
.skuSelectorInternalBox--product__sku{
    border-radius: 0px;
}
.skuSelectorContainer--product__sku .skuSelectorItem--selected .valueWrapper--product__sku{
    color: #d4d4d4;
}
.productImagesContainer--product__images{
    padding-top: 40px;
}
.swiperCaretPrev--product__images{
    background: url("assets/img/product/arrow-left.svg") no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: #8b8b8b;
    height: 30px;
    width: 27px;
    padding: 5px;
    color: #f5f5f5
}
.swiperCaretNext--product__images{
    background: url("assets/img/product/arrow-right.svg") no-repeat;
    background-size: 40%;
    background-position: center;
    background-color: #8b8b8b;
    height: 30px;
    width: 27px;
    padding: 5px;
    color: #f5f5f5
}
.caretIcon--product__images{
    display: none;
}
.productImagesThumb--product__images{
    border: 1px solid #eee;
    padding: 10px;
    margin-right: 15px;
}
.productImagesThumbActive--product__images{
    border: 1px solid #e4147e;
}

.carouselGaleryThumbs--product__images :first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselGaleryThumbs--product__images{
    bottom: 0px;
    width: 100%;
    position: absolute;
    z-index: 1;
}

/* disclosure specifications product */
.specificationsTableHead--product__specification--container{
    display: none;
}
.specificationItemProperty--product__specification--container{
    color: black;
    font-size: 16px;
    font-weight: 700;
    width: 30%;
}
.specificationsTable--product__specification--container{
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.specificationItemSpecifications--product__specification--container{
    text-align: left;
}
.specificationsTableRow--product__specification--container:nth-child(odd){
    background-color: hsla(0,0%,89.4%,.4);
}

