.paragraph--subscribe__text{
    margin-top: 64px;
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
}

.paragraph--notice__privacy{
    font-weight: 500;
    margin: 10px;
    font-size: 12px;
}

.link--notice__privacy{
    text-decoration: none;
    color: #e4147e;
}

