.styledLink--header__menu{
    font-size: 13px;
    font-weight: bold;
    color: #757575;
}
.styledLink--header__menu:hover{
    color: #e4147e;
}

.menuContainer--header__menu--items{
    display: flex;
    justify-content: center;
}

.styledLink--header__menu--sales{
    color: red;
}

.styledLink--header__menu--welfare:hover, .styledLink--header__menu--biosecurity:hover{
    color: #08ab97;
}


