/* .notificationContent--header__notification{
    color: #e4147e;
} */

/* .notificationBarInner--header__notification{
    background-color: #f0f0f0;
} */

/* #727272 */

.searchBarIcon--search{
    color: #e4147e;
}