
.flexRow--header__desktop{
    padding: 50px 10px 0px 20px;
    /* padding-left: 50px; */
}

.flexRow--header__top--container{
    width: 100%;
}

.flexRow--header__row--text{
    display: flex;
    align-content: center;
}


