.whatsapp_btn:hover{
    font-size: 16px;
    color: #fff;
    border-radius: 5px;
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all .3s ease 0s;
}

.whatsapp_btn:hover .image_btn{
    transition: all .3s ease 0s;
    height: 60px;
    width: 60px;
}