/* .bullet__item{
    border: 1px solid black;
    border-radius: 6px;
    overflow: hidden;
} */

/* .bullet__item--title{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
} */