/* .flexRow--home__layout--image{
    margin-top: 30px;
} */

.flexRow--global__bullet-diagramation {
    width           : 100%;
    max-width       : 68.5rem;
    height          : 100%;
    background-color: white;
    box-shadow      : 0px 0px 10px 2px rgba(0, 0, 0, 0.2);
    padding         : 22px 44px;
    border-radius   : 20px;
}


.flexRow--global__bullet-diagramation::-webkit-scrollbar {
    height: 4px;
}

.flexRow--global__bullet-diagramation::-webkit-scrollbar-track,
.flexRow--global__bullet-diagramation::-webkit-scrollbar-thumb {
    background-color: rgb(216, 216, 216);
    background-clip : padding-box;
    border-right    : 16px solid transparent;
    border-left     : 16px solid transparent;
}

.flexRow--global__bullet-diagramation::-webkit-scrollbar-thumb {
    background-color: rgb(124, 124, 124);
}

.flexColChild--home__section--global-col {
    display        : flex;
    justify-content: center;
    margin         : 20px auto;
}

.flexRow--home__global--text {
    margin: 20px 0px;
}

@media (max-width: 1024px) {
    .flexRow--global__bullet-diagramation {
        display        : flex;
        justify-content: flex-start;
        align-items    : center;
        width          : 90%;
        margin         : 20px auto;
        padding        : 10px;
        overflow       : auto;
    }
}