.paginationDotsContainer--home__slider--list{
    transform: translateY(15px);
}
.imageElementLink--home__slider--list{
    width: 100%;
}

.paginationDot--home__slider--list{
    height: 20px;
    width: 20px;
}