.flexRow--home__layout--image{
    margin-top: 30px;
}

.flexRow--home__global--text{
    margin: 20px 0px;
}

.flexRow--global__bullet-diagramation{
    width: 80%;
    height: 100%;
    background-color: white;
    padding: 22px 44px;
    border-radius: 20px;
    border: 1px solid green
}

.flexColChild--home__section--global-col{
    display: flex;
    justify-content: center;
    margin: 20px auto;
}