.flexRow--home__layout--image{
    margin-top: 30px;
}

.flexRow--home__global--text{
    margin: 20px 0px;
}

/* .flexRow--global__btn--whatsapp .global__whatsapp-btn{
    z-index: 200;
    display: flex;
    justify-content: flex-end;
    width: auto;
} */