
:global(.vtex-disclosure-layout-1-x-trigger){
    background-color: #e4147e;
    border-style: none;
    border-top: 1px solid #757575;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}

:global(.vtex-disclosure-layout-1-x-content){
    background-color: #e4147e;
}

@media (max-width: 1024px){
    .menuItem--item__custommer-support{
        color: white;
    }
}

/* @media (max-width: 768px){ */
/* @media (max-width: 425px){ */