:global(.vtex-store-icons-0-x-caretIcon--icon__caret--up) {
    color: white;
}

:global(.vtex-store-icons-0-x-caretIcon--icon__caret--down) {
    color: white;
}


@media (max-width: 1024px) {
    .menuItem--item__custommer-support {
        color: white;
    }
}

/* @media (max-width: 768px){ */
/* @media (max-width: 425px){ */