
.socialNetworkImage--instagram{
    background-image: white;
}

.socialNetworksContainer--footer__social--icons{
    height: 40px;
}
.socialNetworkLink--footer__social--icons{
    height: 40px;
    width: 40px;
}