.wrapper--interest-links{
    margin-left: 25px;
}

.wrapper--info__font{
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
    border-bottom: solid 1px white;
}

.wrapper--policies{
    margin-left: 25px;
}

.container--social-networks{
    font-size: 20px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
}

