.flexRow--desktop__container--info{
    background-color: #e4147e;
    padding: 40px 180px;
}
.flexCol--container__social-networks{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flexRowContent--desktop__container--newsletter{
    background-color: #fff4fa;
}

.flexRowContent--desktop__customer-support :global(.vtex-rich-text-0-x-paragraph){
    color: #757575;
}