.portalContainer--header__login :global(.vtex-button){
    background-color: #f5f5f5;
    color: #e01783;
    font-size: 12px;
    font-weight: bold;
}

.portalContainer--header__login :global(.vtex-button):hover{
    background-color: #e9e9e9;
    border-color: transparent;
}

.portalContainer--header__login .sendButton :global(.vtex-button):hover{
    background-color: #e01783;
    color: white;
    border-color: transparent;
}

.portalContainer--header__login :global(.vtex-login-2-x-forgotPasswordLink){
    color: #e01783;
}
.portalContainer--header__login :global(.vtex-login-2-x-dontHaveAccount){
    color: #e01783;
}
