.skuSelectorContainer--category__results--selector-sku {
    display        : flex;
    justify-content: center;
    text-align     : center;
}

.skuSelectorItemTextValue--category__results--selector-sku {
    font-size    : 11px;
    font-weight  : 700;
    color        : #575757;
    border-radius: 5px;
    padding      : 3px 9px;
}

.skuSelectorContainer--category__results--selector-sku {
    display    : none;
    padding-top: 10px;
}

.skuSelectorContainer--category__results--selector-sku :global(.vtex-store-components-3-x-skuSelectorItem) {
    background-color: #f0f0f0;
    height          : 20px;
    width           : 38px;
}

.skuSelectorContainer--category__results--selector-sku :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
    background   : rgba(228, 20, 126, .13);
    font-size    : 8px;
    padding      : 3px 0px;
    border-radius: 5px;
    font-weight  : 700;
    border-style : none;
    height       : 18px;
    width        : 38px;
}

.skuSelectorItem--category__results--selector-sku {
    cursor       : pointer;
    font-size    : 11px;
    font-weight  : 700;
    color        : #575757;
    padding      : 3px 0px;
    border-radius: 5px;
    border       : none;
}

.skuSelectorInternalBox--category__results--selector-sku {
    border: none;
}

.skuSelectorItem--category__results--selector-sku--selected :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
    color: #e4147e;
}