.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-arrow)::before {
    content : url("assets/img/department/breadcrumb-point.svg");
    position: absolute;
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-homeIcon) {
    display: none;
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-homeLink) {
    transform: translateY(-2px);
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-homeLink)::after {
    content: "Home";
    color  : black;
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-caretIcon) {
    display: none;
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-link) {
    margin-left: 10px;
    font-weight: 600;
    font-size  : 12px;
    line-height: 15px;
}

.flexColChild--department__col--breadcrumb :global(.vtex-breadcrumb-1-x-link):hover {
    color: #4d479e;
}

.flexRow--category__container--results-prices {
    text-align: left;
}

.flexCol--category__results--filter :global(.vtex-slider__base-internal) {
    background-color: #b9b9b9;
}

.flexCol--category__results--filter :global(.vtex-slider__selector-container) :global(.vtex-slider__selector) {
    background-color: #b9b9b9;
}

.flexRowContent--category__container--add-button {
    display: none;
}

.flexRow--category__results--selector-sku {
    position       : absolute;
    z-index        : 100;
    bottom         : 35%;
    display        : flex;
    flex-direction : row;
    width          : 80%;
    justify-content: center;
    height         : auto;
}

.flexRow--category__container--add-button {
    margin-top : 10px;
    padding-top: 20px;
}

.flexCol--quick-view__modal--info {
    padding: 20px;
}

.flexColChild--quick-view__modal--info :global(.vtex-add-to-cart-button-0-x-buttonText--home__products--button-buy) {
    color: #fff;
}

.flexColChild--quick-view__modal--info :global(.vtex-button) {
    background-color: #000000;
    border          : none;
    margin-top      : 20px;
    margin-bottom   : 10px;
}

.flexColChild--quick-view__modal--info :global(.vtex-button):hover {
    background-color: #e4147e;
    border          : none;
}

.flexColChild--quick-view__modal--image :global(.vtex-store-components-3-x-caretIcon) {
    color: #0f3e99;
}

.flexColChild--quick-view__modal--image :global(.vtex-store-components-3-x-swiperBullet--active) {
    color: #0f3e99;
}


@media (max-width: 640px) {
    .flexRowContent--category__container--add-button {
        display: flex;
    }
}