.triggerContainer--global__quick-view:hover::before {
    content         : "Vista previa";
    display         : inline-block;
    color           : white;
    border-radius   : 6px;
    width           : 50px;
    height          : 11px;
    text-align      : center;
    padding         : 5px;
    font-size       : 8px;
    position        : absolute;
    top             : 5px;
    right           : 30px;
    background-color: #e01783;
}