.nameContainer--category__results--name {
    display        : flex;
    justify-content: flex-start;
}

.element:hover :global(.vtex-stack-layout-0-x-stackItem--category__product--preview-wishlist--category__layout--preview-wishlist) {
    display: block;
}

.element:hover :global(.vtex-stack-layout-0-x-stackItem--category__product--preview-wishlist--category__results--selector-sku) {
    display        : flex;
    height         : 70%;
    width          : 100%;
    align-items    : flex-end;
    justify-content: center;
}

.element:hover :global(.vtex-product-summary-2-x-skuSelectorContainer--category__results--selector-sku) {
    display      : flex;
    width        : 90%;
    background   : hsla(0, 0%, 100%, .82);
    border-radius: 6px 6px 0 0;
}

.element:hover :global(.vtex-flex-layout-0-x-flexRowContent--category__container--add-button) {
    display: flex;
}

.skuSelectorContainer--category__results--selector-sku {
    display        : flex;
    justify-content: center;
    text-align     : center;
}

.skuSelectorItemTextValue--category__results--selector-sku {
    font-size    : 11px;
    font-weight  : 700;
    color        : #575757;
    border-radius: 5px;
    padding      : 3px 9px;
}

/* .vtex-product-summary-2-x-skuSelectorContainer--category__results--selector-sku  */
.skuSelectorContainer--category__results--selector-sku {
    display    : none;
    padding-top: 10px;
}

.skuSelectorContainer--category__results--selector-sku :global(.vtex-store-components-3-x-skuSelectorItem) {
    background-color: #f0f0f0;
    height          : 20px;
    width           : 38px;
}

.skuSelectorContainer--category__results--selector-sku :global(.vtex-store-components-3-x-skuSelectorItem--selected) {
    background   : rgba(228, 20, 126, .13);
    font-size    : 8px;
    padding      : 3px 0px;
    border-radius: 5px;
    font-weight  : 700;
    border-style : none;
    height       : 18px;
    width        : 38px;
}

.skuSelectorItem--category__results--selector-sku {
    cursor       : pointer;
    font-size    : 11px;
    font-weight  : 700;
    color        : #575757;
    padding      : 3px 0px;
    border-radius: 5px;
    border       : none;
}

.skuSelectorInternalBox--category__results--selector-sku {
    border: none;
}

.skuSelectorItem--category__results--selector-sku--selected :global(.vtex-store-components-3-x-skuSelectorItemTextValue) {
    color: #e4147e;
}

.frameAround--category__preview--sku {
    border-color: #0f3e99;
}