.sliderLayoutContainer--mobile__home--slider-list{
    margin-bottom: 50px;
}

.paginationDot--mobile__slider-categories, .paginationDot--mobile__home--slider-list{
    transform: translateY(-30px);
    height: 16px !important;
    width: 16px !important;
}